#pressedKey {
    font-family: 'Lobster', cursive;
}

#winsCount {
    font-family: 'VT323', monospace;
}

#blankWord {
    font-family: 'VT323', monospace;
    font-size: 20pt; 
}

#countGuesses {
    font-family: 'VT323', monospace;
    border: 1px lightgray solid; 
    padding: 0.1em; 
}

#lettersGuessed {
    font-family: 'VT323', monospace;
}

#playAgain {
    font-family: 'VT323', monospace;
}

#WinsStyle {
    font-family: 'VT323', monospace;
}

#guessRem {
    font-family: 'VT323', monospace;
    font-size: 16pt; 
}

#letGuess {
    font-family: 'VT323', monospace;
    font-size: 16pt; 
}

body {
    background-image: url("../images/dot_grid_.jpg"); 
    background-repeat: repeat;
}